<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Angels School" />
    <meta name="keywords" content="teachers,kids,school" />
    <meta name="author" content="Mohammad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sweet Home </title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h2>Angels School</h2>
      </div>
      <ul class="nav_1">
        <li><a class="current" href="/">Home</a></li>
        <li><a href="#">About</a></li>
      
        <li><a href="#">Contact us</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </nav>
    <div class="sec_1">
      <h1 class="font_1">Wellcome to Our School </h1>


    </div>
    <div class="welc">
      <div class="container">
        <h1>Wellcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>

    </div>
    <div class="regi">
      <a id="newsLink" href="register"> Click to Register </a>

    </div>

    <div class="sec_2">
      <h1>Our Best Teachers</h1>
      <table>
        <tr>
          <td class="bld_1">Name</td>
          <td class="bld_1">Subject</td>
          <td class="bld_1">Email address</td>
          <td class="bld_1">Phone Number</td>
        </tr>
        <tr>
          <td>Tomes</td>
          <td>Math</td>
          <td>Tomes@gmail.com</td>
          <td>London</td>
        </tr>

        <tr>
          <td>Robin</td>
          <td>Physik</td>
          <td>Robin@gmail.com</td>
          <td>Paris</td>
        </tr>
        <tr>
          <td>yasmin</td>
          <td>Biologie</td>
          <td>yasmin@gmail.com</td>
          <td>Germany</td>
        </tr>
      </table>


    </div>
    <footer class="foot">
      <div class="fot_2">
        <h1 class="tot_5">Angels School</h1>
        <p class="tot_5">Child's second Home</p>

      </div>



    </footer>

    <script type="text/javascript" src="javascript.js"></script>
  </body>
</html>
