<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"type="text/css" href="style2.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h2>Angels School</h2>
      </div>
      <ul class="nav_1">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
      
        <li><a href="#">Contact us</a></li>
        <li><a href="register">Register</a></li>
        <li><a class="current" href="login">Login</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="con_2">

        <h1>Login to your account</h1>
        <p>It’s quick and easy.</p>
        <form class="form_1" action="/login" method="post">

          <input class="inp_1" type="email" name="email" value="" placeholder="Email" required>
          <br>
          <input class="inp_1 ini_2" type="password" name="password" value="" placeholder="password" required>

        <div class="click">
          <p>By clicking Sign Up, you agree to our Terms. Learn how we collect, use and share your data in our Data Policy and how we use cookies and similar technology in our Cookies Policy. You may receive SMS Notifications from us and can opt out any time</p>


        </div>


        <button type="submit" name="button">Login</button>
        </form>
        <br>
        <br>
        <br>

        <div class="">
        <i class="wrong"><%=messages%></i>
        </div>



      </div>

    </div>



  </body>
</html>
