*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-image: url(kidsbakc.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 60px;
}
.nav_1{
  display: flex;
  justify-content: space-between;
  /*background: pink;*/
  width: 30%;
  list-style: none;
  align-items: center;
  margin-right: 25%;
}
.logo{
  display: flex;
  align-items: center;
  margin-right: 20%;
  color: #00ffb0;
}
.current{
  color: #00ffb0;
}
li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
}
li a:hover{
  color: #00ffb0;
  font-size: 1.3rem;
}
li a:active{
  color: #00ffb0;
}


#logout{
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 1.3rem;
  background-color: 000;

}

#logout:hover{
  color: #00ffb0;
  font-size: 1.4rem;
}


.section_1{
  width: 50%;
  background-color:rgb(245, 185, 56);
  margin: 0 25%;
  padding: 20px;
  margin-top: 5%;



}
.container{
    height: 30vh;
    text-align: center;
    margin: 30px;
    padding-top: 50px;

}
/* .container a{
  margin: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.2rem;
}
.container a:hover{
  color: #00ffb0;
  font-size: 1.3rem;
} */

.first_link{
  margin-bottom: 30px;


}

.first_link a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.first_link a:hover{
  color: #009150;
  font-size: 1.5rem;
  font-weight: 600;
}
.second_link{
  margin-bottom: 30px;
}

.second_link a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.second_link a:hover{
  color: #009150;
  font-size: 1.5rem;
  font-weight: 600;
}




#welc{
  text-align: center;
  color: #fff;
}
